.contact-form-section{
    padding-top: 0px;
    .container{
        .contact-form-container{
            form{
                fieldset{
                    padding-bottom: 30px;
                    label{
                        display: none;
                    }
                    input, textarea{
                        padding: 10px 15px;
                    }
                    input{
                        height: 45px;
                        border-radius: 50px;
                    }
                    textarea{
                        border-radius: 20px;
                        height: 250px;
                    }
                }
                .website{
                    display: none;
                }
                .submit{
                    button{
                        margin: 0 auto;
                        width: 200px;
                    }
                }
            }
        }
    }   
}

@media only screen and (min-width: $breakpointMedium){
    .contact-form-section{
        .container{
            .contact-form-container{
                form{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 30px;
                    fieldset{
                        input{
                            height: 60px;
                        }
                    }
                    .email, .message, .submit{
                        grid-column: 1/3;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $breakpointLarge){
    .contact-form-section{
        .container{
            .contact-form-container{
                form{
                    grid-template-columns: repeat(3, 1fr);
                    .email{
                        grid-column: 3/4;
                    }
                    .message, .submit{
                        grid-column: 1/4
                    }
                    .submit{
                        button{
                            width: 250px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $breakpointXLarge){
    .contact-form-section{
        .container{
            .contact-form-container{
                form{
                    width: 80%;
                    margin: 0 auto;
                    fieldset{
                        input{
                            padding: 10px 20px;
                        }
                        textarea{
                            padding: 20px;
                        }
                    }
                    .message{
                        padding-bottom: 50px;
                    }
                }
            }
        }
    }
}