.advantages-section-home{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    
    z-index: 0;

    &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        margin: auto;
        top: 0;
        bottom: 0;
        background: $black;
        opacity: 0.7;
        z-index: 0;
    }

    .container{
        display: grid;
        z-index: 1;

        .column{
            z-index: 1;
            text-align: center;
            display: grid;
            grid-template-rows: minmax(75px, 150px);
            padding-bottom: 60px;

            img{
                max-height: 100px;
                margin: 0 auto;
            }

            h4{
                font-size: 18px;
                color: $white;
                font-weight: bold;
                padding: 15px 0;
            }

            p{
                color: $dark-grey;
                max-width: 280px;
                margin: 0 auto;
                font-weight: 700;
            }

        }

    }
}

@media only screen and (min-width: $breakpointMedium){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: $breakpointLarge){
    .advantages-section-home{
        padding: 150px 0;
        .container{
            .column{
                
                h4{
                    font-size: 28px;
                }
    
            }
    
        }
    }
}

@media only screen and (min-width: $breakpointXLarge){
    .advantages-section-home{
        .container{
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .column{
                padding-bottom: 0;
            }
        }
    }
}