body{
    margin: 0px;
}

section{
    padding: 50px 0;
}

.container{
    width: 90%;
    max-width: 1540px;
    margin:0 auto;
}

.text-center{
    text-align: center;
}

@media only screen and (min-width: $breakpointLarge){
    section{
        padding: 80px 0;
    }
}