@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

h1, h2, h3, h4, h5, h6, span, p, ul, li, a{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}