@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

h1, h2, h3, h4, h5, h6, span, p, ul, li, a, label{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 30px !important;
    color: $black;
    font-weight: 700 !important;
    strong{
        color: $blue;
    }
}

h3{
    font-size: 18px ;
    color: $black;
    font-weight: 700;

    @media only screen and (min-width: $breakpointLarge){
        font-size: 27px;
        font-weight: bold;
    }
    
}

a{
    text-decoration: none;
}

.router-link-exact-active{
    text-decoration: underline;
}

.section-title.lower-below-text-border, .section-title h2{
    &:after{
        content:' ';
        display: block;
        border: 2px solid $blue;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    }
}

.section-title.lower-below-text-border{
    padding-bottom: 40px;
    &:after{
        width: 70px;
        margin: 0 auto;
    }
}

.section-title h2{
    text-align: center;
    &:after{
        width: 120px;
        margin: 15px auto;
    }
}

.normal-text{
    font-size: 16px;
    color: $grey;
    font-weight: 600;
}

@media only screen and (min-width: $breakpointLarge){
    h2{
        font-size: 50px !important;
    }

    .section-title.lower-below-text-border, .section-title h2{
        &:after{
            border-width: 3px;
        }
    }

    .section-title.lower-below-text-border{
        padding-bottom: 50px;
    }

    .normal-text{
        font-size: 20px;
    }
}