fieldset{
    border: none;
    padding: 0;
    div{
        padding-bottom: 20px;
    }
    label{
        font-size: 14px;
        display: block;
        padding-bottom: 15px;
        font-weight: 600;
    }
}

select, textarea, input[type=text], input[type=phone]{
    width: 100%;
    padding: 11px 5%;
    border: 1px solid $light-grey;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 3px 3px 6px 6px $light-grey;
}

textarea, input[type=text], input[type=phone]{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
}

textarea{
    height: 120px;
    resize: none;
}

select{
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    option{
        border: 1px solid $light-grey;
        border-radius: 0 10px 10px 0;
    }
}