.slide-slow-leave-active, .slide-slow-enter-active{
    transition: 1.5s ease-out;
}

.slide-slow-enter{
    transform: translate(100%, 0);
}

.slide-slow-leave-to{
    transform: translate(-100%, 0);
}