$blue: #1429A9;
$black: #121212;
$white: #FFFFFF;
$grey: rgba(18, 18, 18, 0.5);
$light-grey: rgba(18, 18, 18, 0.1);
$opaque-white: rgba(256, 256, 256, 0.5);
$dark-grey: #ffffff80;

$breakpointSmall: 576px;
$breakpointMedium: 768px;
$breakpointLarge: 992px;
$breakpointXLarge: 1200px;
$breakpointXXLarge: 1400px;